#PosicionHeader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  align-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#ContenidoPagina {
  background-color: rgba(39, 166, 245, 0.2);
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas:
    'BarraBuscar'
    'Contenido'
    'Promociones';
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1; /* Permite que el contenido ocupe todo el espacio disponible */
}

#BarraBuscar {
  grid-area: BarraBuscar;
  width: 100%;
  height: auto;
}

#BarraBuscar2 {
  background-image: url('../../../img/avion-transformed\ \(2\).webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#BarraBuscar3 {
  width: 90%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(117, 227, 247, 0.753);
  border-radius: 25px 25px 0 0;
  padding: 10px;
}

#Content {
  grid-area: Contenido;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(117, 227, 247, 0.753);
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
}

.Oferta {
  width: 100%;
  background-color: rgb(236, 236, 176);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  border-radius: 10px;
}

.Oferta:hover {
  transform: scale(1.05);
}

#PosicionFooter {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 176);
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#Promociones {
  grid-area: Promociones;
  width: 90%;
  max-width: 1200px;
  background-color: rgba(117, 227, 247, 0.753);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

#infoPromo,
#SubPromo {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

/* Media queries para adaptar el diseño en móviles */
@media (max-width: 768px) {
  #ContenidoPagina {
    grid-template-areas:
      'BarraBuscar'
      'Contenido'
      'Promociones';
    max-width: 100%;
  }

  #BarraBuscar3 {
    flex-direction: column;
    padding: 15px;
  }

  #Content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #PosicionFooter {
    position: relative;
  }
}
